<div class="table row">
<table class="col-md-12 table-striped table-dark table-bordered">
    <a class="btn btn-primary" href="/#!/cadastro">Adicionar nova Pessoa</a>
    <thead class="thead-light">
        <th>ID</th>
        <th>Email</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Avatar</th>
        <th>Açoes</th>
    </thead>
    <tbody>
        <tr ng-repeat="dados in usuarios">
            <td>{{dados.id}}</td>
            <td>{{dados.email}}</td>
            <td>{{dados.first_name}}</td>
            <td>{{dados.last_name}}</td>
            <td><img src="{{dados.avatar}}"></td>
            <td><button class="btn btn-danger" ng-click="remover($index)">Deletar</button>
            <a href="/#!/cadastro/{{dados.id}}" ng-click="editar($index)" class="btn btn-primary" >Editar</a></td>
        </tr>
    </tbody>
</table>
</div>